{embed="inc/_openpage"}

<section>
    <div class="header-vote">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="upper vote-label">How does OneShot Work?</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="header light-bg profile-wrap">
    <div class="container container-small">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="upper profile-header">Who can participate?</h2>
          <p class="content profile-text">The following are examples of people who may want to join in on the competition:</p>
          <ul class="normal-list">
          	<li>Rappers or MC's</li>
          	<li>Producers</li>
          	<li>Singers and Song Writers</li>
            <li>Remixers</li>
            <li>DJ's / Turntablist</li>
          	<li>Musicians</li>
          	<li>Videographers / Video Editors</li>
            <li>Graffiti Artists</li>
            <li>Visual Artists</li>
            <li>Karaoke Kings</li>
          	<li>Pranksters</li>
          	<li>Anyone who is competitive and loves a good challenge.</li>
          	<li>Anyone who likes free promotion : winners will get a page on DJBigdad.com/oneshot as well as backlinks to their sites. This includes free promotion on social media platforms as well.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="header light-bg profile-wrap">
    <div class="container container-small">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="upper profile-header">What Do I need?</h2>
          <p class="content profile-text">In order to get started you need to have the follow items:</p>
          <ul class="normal-list">
          	<li>Talent and Passion.</li>
          	<li>A camera for recording your live performance</li>
          	<li>If an event has already started, you will need to download the supplement track and select the event at <a href="{site_url}oneshot/signup">signup</a>. For competitive events look for the download icon = "<i class="fa fa-download"></i>"</li>
            <li>If you want to select a DJBigdad Beat that isn't already in competition, browse the site and select the beat/instrumental at <a href="{site_url}oneshot/signup">signup</a>.</li>
          	<li>Always credit a producer or collaborating artist. Also make sure to have his/her links handy during signup.</li>
          	<li>We all prefer quality recordings so try to use a mic as it will just sound better. Same for video, iphone and android phones work pretty well, but there are more professional options.</li>
          	<li>Knowledge on how to upload your video to Facebook, Facebook Live, Youtube or Vimeo. All video submissions must be set to public!</li>
          	<li>Extra points will be added to the performer for creativity of location, delivery and style.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{embed="oneshot/signup-starter"}
{!-- {embed="inc/lead-getter"} --}
{embed="inc/_closepage"}