{if !segment_2}
  {embed="inc/_openpage"}
  <!-- About -->
  <section>
    <div class="header-start os-banner">
      <img src="{exp:ce_img:single src='http://djbigdad.com/assets/img/one-shot/banners/oneshotbanner.jpg' quality='84' width='1920' height='600' crop='yes|center,center' url_only='yes'}" class="img-responsive">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 style="opacity: 0; position: aboslute; height: 0; overflow: hidden; padding: 0; margin: 0;" class="upper">OneShot</h1>
            <ul class="center os-social">
              <li>Support the movement...<Br><a target="_blank" href="https://www.facebook.com/oneopprotunity/"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="header light-bg profile-wrap">
    <div class="container container-small">
      <div class="row">
        <div class="col-xs-12">
          <img class="img-responsive profile" src="{site_url}assets/img/profile.jpg">
          <h3 class="upper profile-header" style="margin-top: 0;">Shawn "DJ Bigdad" Brandt</h3>
          <p class="content profile-text">"Thank you for participating in my latest creation!  You the Artist. You got "One Shot", One Opportunity, One Moment to capture you skills on video and battle with the best online.</p>
          <a href="{site_url}oneshot/about" class="btn primary-btn">How does it work?</a>
        </div>
      </div>
    </div>
  </section>
  <section class="primary-pd">
  <div class="container">
    <div class="row oneshot-project">
      <div class="col-xs-12">
      <h2>Competition in Progress</h2>
      </div>
      <div class="col-xs-12">
      <p>Compeitions will begin shortly.  <a href="{site_url}oneshot/signup">Go Signup Now!</a></p>
      </div>
      
      {exp:channel:entries channel="oneshot" dynamic="no"}
      {if is_comp == 'Yes'}
      <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 project-block">
        <div class="relative-wrap">
          <div class="project-details">
            <h3>{title} - <span>{artist}</span></h3>
            <h6>Submitted {entry_date:relative}</h6>
          </div>
          <img src="{exp:ce_img:single src='{background_image}' quality='84' width='500' height='500' crop='yes|center,center' url_only='yes'}" class="reponsive-img">
          <a href="{site_url}oneshot/{url_title}" class="center watch-btn">Watch Competition</a>
        </div>
          
      </div>
      {/if}
      {/exp:channel:entries}
      
    </div>
    <div class="row oneshot-project">
      <div class="col-xs-12">
      <h2>Featured Artists</h2>
      </div>
      {exp:channel:entries channel="oneshot" dynamic="no"}
      {if is_comp == 'No'}
      <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 project-block">
        <div class="relative-wrap">
          <div class="project-details">
            <h3>{title} - <span>{artist}</span></h3>
            <h6>Submitted {entry_date:relative}</h6>
          </div>
          <img src="{exp:ce_img:single src='{background_image}' quality='84' width='500' height='500' crop='yes|center,center' url_only='yes'}" class="reponsive-img">
          <a href="{site_url}oneshot/{url_title}" class="center watch-btn">Experience Now</a>
        </div>
          
      </div>
      {/if}
      {/exp:channel:entries}
      
    </div>
  </div>
</section>
  {embed="oneshot/signup-starter"}
  {embed="inc/_closepage"}
{if:elseif segment_2 && segment_3 == 'vote'}
  {embed="oneshot/vote"}
{!-- {if:elseif segment_2 && segment_3 == 'about'}
  {embed="oneshot/about"}
{if:elseif segment_2 && segment_3 == 'signup'}
  {embed="oneshot/signup"}
{if:elseif segment_2 && segment_3 == 'advanced-signup'}
  {embed="oneshot/advanced-signup"} --}
{if:else}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {embed="inc/meta"}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{site_url}assets/css/one-shot/font-awesome.min.css">
        <link rel="stylesheet" href="{site_url}assets/css/one-shot/style.css">
{exp:channel:entries channel="oneshot" url_title="{segment_2}" dynamic="no"}
        {if is_comp == 'Yes'}<link rel="stylesheet" href="{site_url}assets/css/one-shot/custom.min.css">{/if}
    <script>
    // removing the js hash of visulizer
      window.location.hash = '';
    </script>
  </head>
  <body style="background: url('{exp:ce_img:single src='{background_image}' quality='84' width='1920' height='1080' crop='yes|center,center' url_only='yes' filter='colorize,255,165,0,100'}'); background-size: cover; background-position: center center;">
  
    <div class="bg">
      <div class="loading-screen">
        <div class="logo">
          <img src="{site_url}assets/img/one-shot/logo.png">
          <p class="animate-flicker">Loading...</p>
        </div>
      </div>
      <div class="visualizr">
        <div id="menuToggle"><i class="fa fa-list"></i></div>
        <div class="menu">
          {if is_comp == 'Yes'}
          <a href="{site_url}oneshot/{segment_2}/vote"><div class="back-breadcrumb vote">Vote Now</div></a>
          {/if}
{/exp:channel:entries}
          <a href="{site_url}oneshot"><div class="back-breadcrumb">Back to OneShot</div></a>
          <div id="close"><i class="fa fa-times"></i></div>
          <div class="menu-control-wrap">
            <button id="controls" class="menu-control-btn active"><i class="fa fa-list" aria-hidden="true"></i> Playlist</button>
            <button id="controlSettings" class="menu-control-btn"><i class="fa fa-gear" aria-hidden="true"></i> Settings</button>
          </div>

          <div id="controlsSettingsContent" class="toggleBlock">
            <div class="controls">
              <div class="field">
                <label for="width">Width</label>
                <input type="range" name="width" value="20">
              </div>
              <div class="field">
                <label for="height">Height</label>
                <input type="range" name="height" value="50">
              </div>
              <div class="field">
                <label for="gap">Gap</label>
                <input type="range" name="gap" value="25">
              </div>
              <div class="field">
                <label for="delay">Delay</label>
                <input type="range" name="delay" value="8">
              </div>
              <div class="field">
                <label for="hue">Hue Offset</label>
                <input type="range" name="hue" value="35">
              </div>
              <div class="field">
                <label style="margin-right:1em">Animate</label>
                <input type="radio" name="animate" value="out" checked> <span>Out</span>
                <input type="radio" name="animate" value="in"> <span>In</span>
                <input type="radio" name="animate" value="auto"> <span>Auto</span>
              </div>
              <div class="field">
                <label>Delay</label>
                <input type="range" name="auto-delay" value="50">
              </div>
            </div>
          </div>
          <div id="playlistContent" class="toggleBlock on playlist">
            {if group_id == '1'}
            <ol class="sortlist ui-sortable ui-draggable ui-draggable-handle" id="sortable" style="position: relative;">
              {if:else}
            <ol class="sortlist ui-sortable ui-draggable ui-draggable-handle" style="position: relative;">
            {/if}
              {exp:channel:entries channel="oneshot" limit="7" dynamic="no"}
              <li class="sort-item ui-sortable-handle"><a href="{site_url}oneshot/{url_title}">{title} -<span class="">{artist}</span></a></li>
              
              {/exp:channel:entries}
            </ol>
          </div>
        </div>
        <button class="playpause"></button>
        <canvas></canvas>
        {exp:channel:entries channel="oneshot" url_title="{segment_2}" dynamic="no"}
        {if is_comp == 'Yes'}
          <div class="showCompBtn middle center compHook"><i class="fa fa-user"></i>vs.<i class="fa fa-user"></i><br>
            <span>Show Competitors</span>
          </div>
        {/if}
        {if is_comp == 'Yes'}
        <section class="primary-pd comp-videos">
            <div class="container">
                <div class="row">
                  {comp}
                    <div class="col-md-6 col-sm-6 col-xs-12 comp-item{comp:count}">
                        <div class="embed-responsive embed-responsive-16by9">
                            {if comp:youtube_code}
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{comp:youtube_code}" frameborder="0" allowfullscreen></iframe>
                            {/if}
                            {if comp:vimeo_code}
                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/{comp:vimeo_code}?color=#FFA500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            {/if}
                            {if comp:fb_link}
                            {comp:fb_link}
                            {/if}
                        </div>
                        <h2 class="artist-name center">{comp:track_name} - <a target="_blank" href="{comp:artist_link}">{comp:artist_name}</a></h2>
                        {if comp:producers_name}
                        <h3 class="produced-by center">produced by <a target="_blank" href="{comp:producers_link}">{comp:producers_name}</a></h3>
                        {/if}
                    </div>
                    {/comp}
                </div>
            </div>
        </section>
        {/if}
        {/exp:channel:entries}
        {exp:channel:entries channel="oneshot" entry_id="not 14" limit="1" show_future_entries="yes"}
        <div class="control-wrap {if is_comp == 'Yes'} comp {/if}">
          
                {!-- {if segment_1 =="oneshot" && segment_2 =="oh-man"}
                  <div class="control-btn">
                  </div>
                {/if} --}
                {if is_comp == "No"}
                {exp:channel:next_entry channel="oneshot"}
                <a href="{path='oneshot'}" id="nextSong" title="<< Previous Track - {title}">
                  <div class="control-btn">
                    <i class="fa fa-chevron-left"></i>
                  </div>
                </a>
                {/exp:channel:next_entry}
                {/if}

                <div class="control-btn">
                  {if is_comp == "Yes"}<a href="{site_url}oneshot/{segment_2}/vote" title="Vote Now!"><i class="fa fa-thumbs-up"></i></a>{/if}
                </div>
                <div class="control-btn" id="toggleDetails">
                  <i class="fa fa-info"></i>
                </div>
                <div class="control-btn">
                  {if is_comp == "Yes"}<a target="_blank" title="Download Colaborating Track" href="{song_url}" download><i class="fa fa-download"></i></a>{/if}
                </div>

                {if is_comp == "No"}
                {exp:channel:prev_entry channel="oneshot"}
                <a href="{path='oneshot'}" title="{title} - Next Track >>">
                  <div class="control-btn">
                    <i class="fa fa-chevron-right"></i>
                  </div>
                </a>
                {/exp:channel:prev_entry}
                {/if}
        </div>  
        {/exp:channel:entries}
        <div class="track-details-wrap put-away">
          {exp:channel:entries channel="oneshot" url_title="{segment_2}" sort_by="asc" limit="1" dynamic="no"}
            <a class="main-beat-promo-link" target="_blank" href="{main_beat_promo_link}">
              <img src="{exp:ce_img:single src='{album_art}' quality='84' width='100' height='100' crop='yes|center,center' url_only='yes'}" class="album-art">
              <p class="track-name">{title}</p>
              {if album_name}
              <p class="album-name">{album_name}</p>
              {/if}
              <p class="artist">{artist}</p>
            </a>
          {if is_comp == 'No'}
          <div class="share-box">
            <ul>
                <li><a title="One Shot, @oneopprotunity Facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=#http://www.djbigdad.com/oneshot/{url_title}"><i class="fa fa-facebook"></i></a></li>
                <li><a title="Share on Twitter" target="_blank" href="https://twitter.com/home?status=http%3A//www.djbigdad.com/oneshot/{url_title}"><i class="fa fa-twitter"></i></a></li>
                <li><p class="text-center"><a target="_blank" href="{main_beat_promo_link}"><i class="fa fa-globe"></i></a></li>
                <li><p class="text-center"><a target="_blank" href="{main_beat_soundcloud_link}"><i class="fa fa-soundcloud"></i></a></li>
            </ul>
          </div>
          {/if}
          {/exp:channel:entries}
        </div>
      </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <script src='{site_url}assets/js/one-shot/lodash.js'></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="{site_url}assets/js/one-shot/touchpunch.js"></script>
    <script src="{site_url}assets/js/one-shot/index.js"></script>

    {exp:channel:entries channel="oneshot" url_title="{segment_2}" limit="1" dynamic="no"}
    <script>
      //respect the music.. and contact DJBigdad
      var songUrl = hash.song ? '{song_url_filename}' :
       '{song_url}';
      var songName = hash.song || '{song_hash}';
    </script>

    {if is_comp == 'Yes'}
        <script>
          var isComp = true;

          $('.showCompBtn').click(function(e) {
              e.preventDefault();
              $(this).toggleClass("middle");
              $('.comp-videos').toggleClass("show");
              $('.showCompBtn span').text(function(i, text){
                  return text === "Show Competitors" ? "Hide Competitors" : "Show Competitors";
              })
          });
        </script>
    {/if}

    {if is_comp == 'No'}
        <script>
          var isComp = false;
        </script>
    {/if}
    {/exp:channel:entries}
  </body>
</html>
{/if}