{embed="inc/_openpage"}
<section class="header primary-pd light-bg stay-connected-wrap contact signup-one-shot">
	<div class="container container-small">
		{exp:freeform:form form_name="signup_OS" required="email|artist_name|track_name|promo_link|" return="contact/thank-you/oneshot"}
		<div class="row">
			<div class="col-xs-12">
				<input type="text" required class="form-control input-lg" name="email" placeholder="Email Address" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>The artist participating in the competition.</p>
				<input type="text" required class="form-control input-lg" name="artist_name" placeholder="Arist Name" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>Where do you want to link people when they find out your amazing?</p>
				<input type="text" required class="form-control input-lg" name="promo_link" placeholder="Primary Promotional Link" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>What is your SoundCloud Link? (get extra promotion)</p>
				<input type="text" class="form-control input-lg" name="soundcloud_link" placeholder="SoundCloud Link" />
			</div>
		</div>
	    <div class="row">
	    	<div class="col-sm-6">
				<p>Don't have a beat or background song yet?</p>
				<div class="form-group">
			        <div class="col-xs-12 selectContainer select-dd flush">
			            <select name="tracks" class="form-control tracks-select" title="Select a beat or backgrond song for your craft.">
			                <option value="">Select a DJBigdad Beat</option>
			                {exp:channel:entries channel="albums" dynamic="no" sort="desc" entry_id="not 13|14" order_by="title"}
			                {songs}
			                <option class="song" value="{songs:title}">{songs:title}</option>
			                {/songs}
			                {/exp:channel:entries}
			            </select>
			        </div>
			    </div>
		    </div>
			<div class="col-sm-6">
				<p class="comp-type-message">What kind of art are you submitting for the competition? </p>
				<div class="form-group">
			        <div class="col-xs-12 selectContainer select-dd flush">
			            <select name="craft" class="form-control craft-select" title="Select the type of art your submitting.">
			                <option value="">Select Your Craft</option>
			                <option class="craft" value="DJ/Turntablism">DJing Turntablism</option>
			                <option class="craft" value="Producer">Producer</option>
			                <option class="craft" value="Rapper">Rapper</option>
			                <option class="craft" value="Covering or Remixing">Covering or Remixing</option>
			                <option class="craft" value="Singer or SongWriter">Singer or Song Writer</option>
							<option class="craft" value="Karaoke">Karaoke</option>
							<option class="craft" value="Prankster">Prankster</option>
			                <option class="craft" value="Videographer">Videographers</option>
			                <option class="craft" value="VideoEditor">Video Editor</option>
			                <option class="craft" value="Other Visuals">Visuals</option>
			                <option class="craft" value="Graffiti Artist">Graffiti Artist</option>
			                <option class="craft" value="Other Craft">Other Craft</option>
			            </select>
			        </div>
			    </div>
		    </div>
	    </div>
	    <div class="row">
			<div class="col-xs-12">
	    		<textarea type="text" name="message" placeholder="Do you have a side note or want to tell me more about yourself?"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
	    		<button class="btn primary-btn" type="submit">Submit</button>
			</div>
		</div>
		{/exp:freeform:form}
	</div>
</section>
<script>
	$( document ).ready(function() {
	    var options = $('select.tracks-select option.song');
	    var arr = options.map(function(_, o) {
	        return {
	            t: $(o).text(),
	            v: o.value
	        };
	    }).get();
	    arr.sort(function(o1, o2) {
	        return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0;
	    });
	    options.each(function(i, o) {
	        console.log(i);
	        o.value = arr[i].v;
	        $(o).text(arr[i].t);
	    });
	});

	$( document ).ready(function() {
	    var options = $('select.craft-select option.craft');
	    var arr = options.map(function(_, o) {
	        return {
	            t: $(o).text(),
	            v: o.value
	        };
	    }).get();
	    arr.sort(function(o1, o2) {
	        return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0;
	    });
	    options.each(function(i, o) {
	        console.log(i);
	        o.value = arr[i].v;
	        $(o).text(arr[i].t);
	    });
	});
</script>
{embed="inc/_closepage"}