<section class="header light-bg stay-connected-wrap">
	<div class="container container-small">
		<div class="row">
			<div class="col-xs-12">
				<p class="center">Ready to signup for the competition?</p>
				<h3 class="upper center oneshot-lead">Submit your craft today to participate in the action! </h3>
				<a href="{site_url}oneshot/signup" class="btn primary-btn center-block oneshot-signup-btn">SignUp Now!</a>
			</div>
		</div>
	</div>
</section>