{embed="inc/_openpage"}
  <!-- About -->
  {exp:channel:entries channel="oneshot" url_title="{segment_2}" dynamic="no"}
  <section>
    <div class="header-vote">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="upper vote-label">Voting for </h1>
            <h2 class="upper text-center vote-title">{title}</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="header light-bg profile-wrap">
    <div class="container container-small">
      <div class="row">
        <div class="col-xs-12">
          <img class="img-responsive profile" src="{site_url}assets/img/profile.jpg">
          <h1 class="upper profile-header">Rules for Voting</h1>
          <p class="content profile-text">The fan rules are simple. You can only vote once per IP address. By now you should have listen to the provided beat. Then watch both of the users videos to see who remixed or preformed it better. <br>The last day to vote is <strong>{poll_end_date format="%F %d. %Y"}</strong></p>
        </div>
      </div>
    </div>
  </section>

<script type="text/javascript">
  $(document).ready(function() {

    $('form[id*="vwm_polls_poll"]').submit(function(e) {
      e.preventDefault();
      var form = $(this);
      var action = $(this).attr('action');
      var id = $(this).attr('id') + '_img';

      $.ajax({
        type: 'POST',
        url: action,
        data: $(this).serialize(),
        success: function(data) {
          var chart = data.chart;
          var img = $('<img />').attr('src', chart).attr('id', id).attr('alt', '');
          $(form).find('fieldset').fadeOut('slow', function() {
            $(form).append(img).hide().fadeIn('slow');
          });
        },
        error: function(data) {
          var data = $.parseJSON(data.responseText);
          var xid = data.xid;
          $(form).find('input[name="XID"]').val(xid);
          $.each(data.errors, function(index, value) {
            alert(value);
          });
        },
        dataType: 'json'
      });
    });

  });
</script>
<section class="primary-pd">
  <div class="container vote-container">
    <div class="row">
      <div class="col-xs-12">
  {exp:vwm_polls:poll entry_id="{entry_id}" field_id="{poll:field_id}" redirect="index"}
    {if can_vote && segment_3 != "results"}
      <fieldset>
        {if already_voted}
          You already voted in this poll, however, I will allow you to vote again &mdash; cuz I am a nice guy.
        {/if}

        <ul>
          {options}
            <li {if user_vote}class="user_vote"{/if}>
              <label for="option_{id}">
                <input type="{input_type}" name="{input_name}" id="option_{id}" value="{id}" />
                <label for="option_{id}">{text}</span>
                <div class="check">
                  <div class="inside"></div>
                </div>
                {if type == "other"}
                  <input type="text" name="{other_name}" />
                {/if}
              </label>
            </li>
          {/options}
        </ul>
        <div class="row">
          {if !can_vote}
          <div class="col-xs-12">
            <a class="results-btn" href="{path='polls/{url_title}/results'}">View Results</a>
          </div>
          {/if}
          <div class="col-xs-12">
            <input class="vote" type="submit" name="submit" value="Vote" />
          </div>

        </div>
      </fieldset>
    {if:else}
      <ul>
        {options_results}
          <li id="option_{id}" {if user_vote}class="user_vote"{/if}>
            <div style="width: {percent}%">{percent}%</div>
            <span>{text}</span>
          </li>
        {/options_results}
      </ul>
      <img class="img-responsive" src="{chart}" alt="" />
    {/if}

  {/exp:vwm_polls:poll}

  {/exp:channel:entries}
    </div>
  </div>
</div>
</section>
{embed="oneshot/signup-starter"}
{embed="inc/lead-getter"}
{embed="inc/_closepage"}
