{embed="inc/_openpage"}

<!-- About -->
<section>
	<div class="header-start">
		<img src="{site_url}assets/img/bg-cool.jpg" class="img-responsive">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="upper">Project: Wall</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="header light-bg profile-wrap">
	<div class="container container-small">
		<div class="row">
			<div class="col-xs-12">
				<img class="img-responsive profile" src="{site_url}assets/img/profile.jpg">
				<h1 class="upper profile-header">Shawn "DJ Bigdad" Brandt</h1>
				<p class="content profile-text">"A Tribute to Vine.  So many clips from over the years..."</p>
			</div>
		</div>
	</div>
</section>


<section class="primary-pd">
	<div class="container">
		<div class="row">
			{exp:channel:entries channel="video_wall" dynamic="no"}
			{video_wall}
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 flush">
				<div class="video-wrap">
					<div style="text-align:center" onmouseover="Play{count}()" onmouseout="Pause{count}()"> 
					  <video id="video{count}" width="100%" loop poster="{video_wall:vid_image}">
					    <source src="{video_wall:mp4_clip}" type="video/mp4" />
					    Your browser does not support HTML5 video.
					  </video>
					</div>
					<div class="video-details">
						<p>{title}</p>
					</div>
				</div>
			</div>
			{/video_wall}
			{/exp:channel:entries}
		</div>
	</div>
</section>

<section class="header light-bg stay-connected-wrap">
	<div class="container container-small">
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group stay-connected">
                    <input type="email" class="form-control input-lg" placeholder="Stay Connected" />
                    <span class="input-group-btn">
                        <button class="btn btn-lg" type="button">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </span>
                </div>
			</div>
		</div>
	</div>
</section>

{exp:channel:entries channel="video_wall" dynamic="no"}
{video_wall}
<script type="text/javascript"> 
	var myVideo{count}=document.getElementById("video{count}"); 

	function Pause{count}()
	{ 
	  myVideo{count}.pause(); 
	}
	function Play{count}()
	{
	if (myVideo{count}.paused) 
	  myVideo{count}.play();     
	}    
    
</script> 
{/video_wall}
{/exp:channel:entries}
{embed="inc/_closepage"}