html {
  box-sizing: border-box;
  color: white;
  font-family: 'Cabin', sans-serif;
}

.controls {
  z-index: 1;
  position: absolute;
  top: 50px;
  right: 10px;
  text-align: right;
  max-width: 270px;
  background: #242424;
  padding: 12px;
}

.controls.hide {
  display: none;
}

* {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: black;
  background: rgba(0, 0, 0, .75);
  position:relative;
  z-index: 2;
}

.bg {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  background: rgba(0, 0, 0, .72);
}

.bg:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  opacity: .95;
  background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 4%, rgba(0,0,0,0) 40%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(4%, rgba(0,0,0,0.9)), color-stop(40%, rgba(0,0,0,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 4%, rgba(0,0,0,0) 40%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 4%, rgba(0,0,0,0) 40%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 4%, rgba(0,0,0,0) 40%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 4%, rgba(0,0,0,0) 40%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.bg:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  height: 50%;
  width: 100%;
  opacity: .95;
  background: rgba(0,0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 60%, rgba(0,0,0,0.93) 97%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(60%, rgba(0,0,0,0)), color-stop(97%, rgba(0,0,0,0.93)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 60%, rgba(0,0,0,0.93) 97%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 60%, rgba(0,0,0,0.93) 97%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 60%, rgba(0,0,0,0.93) 97%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(0,0,0,0.93) 97%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

canvas {
  display: block;
  background: transparent;
  position: absolute;
  z-index: 97;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.visualizr {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.playpause {
  z-index: 999;
  position: absolute;
  top: 50px;
  left: -55px;
  /* width: 35px; */
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://s3.amazonaws.com/tybenz.assets/spinner.png);
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-animation: rotate .75s infinite linear;
  -moz-animation: rotate .75s infinite linear;
  animation: rotate .75s infinite linear;
}

body.loaded .playpause {
  opacity: 1;
  left: 35px;
  -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

@media (max-width: 320px) {
  body.loaded .playpause {
    left: 15px;
  }
}

.small .playpause {
  width: 24px;
  height: 24px;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(-360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(-360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

.playing .playpause {
  background-image: url(../../img/one-shot/controls/pause.png) !important;
}

.loaded .playpause {
  width: 35px;
  height: 48px;
  background-image: url(../../img/one-shot/controls/play.png);
  background-position: center center;
  color: transparent;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  top: 50px;
  left: 50px;
}

.small.loaded .playpause {
  width: 17px;
  height: 24px;
}

.controls {
  font-size: 0.8em;
  font-weight: 100;
}

input[type=range] {
  position: relative;
  top: 0px;
}

.field {
  margin: 5px 0;
  display: inline-block;
  width: 100%;
}

label {
    float: left;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 170px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

#menuToggle i {
  font-size: 50px;
  color: white;
}

#menuToggle {
    position: fixed;
    top: 50px;
    right: -35px;
    z-index: 99;
    opacity: 0;
    cursor: pointer;
}

body.loaded #menuToggle{
  right: 35px;
  opacity: 1;
  -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

@media (max-width: 320px) {
  body.loaded #menuToggle {
    right: 15px;
  }
}

#close {
    position: fixed;
    top: 0;
    right: -40px;
    z-index: -999;
    opacity: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    cursor: pointer;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding: 7px 10px;
    min-height: 37px;
}

#close.show {
  right: 0px;
  z-index: 990;
  opacity: 1;
  -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

#close i {
  color: white;
  font-size: 21px;
}

.menu {
    position: fixed;
    right: -300px;
    width: 300px;
    height: 100%;
    z-index: 99;
    background: #242424;
    background: rgba(0, 0, 0, .92);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    overflow-y:auto;
    overflow-x:hidden;
}

.menu.open {
  right: 0;
  -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

@media (max-width: 480px) {
  .menu {
    right: -100%;
    width: 100%;
  }
}

.loading-screen {
  position: fixed;
  z-index: 99999;
  opacity: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #242424;
  -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

body.loaded .loading-screen {
  opacity: 0;
  z-index: -99999;
  -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

.loading-screen p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 85px;
  letter-spacing: 1.3px;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  100%  { opacity:0; }
  0% {opacity: 1;}
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  100%  { opacity:0; }
  0% {opacity: 1;}
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  100%  { opacity:0; }
  0% {opacity: 1;}
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  100%  { opacity:0; }
  0% {opacity: 1;}
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  margin-top: -70px;
  margin-left: -70px;
}

.logo img {
  width: 100%
}

.track-details-wrap {
  background: black;
  /*background: rgba(0, 0, 0, .9);*/
  position: fixed;
  z-index: 999;
  padding: 10px;
  left: 0;
  right: 0;
  bottom: -120px;
  height: 120px;
  -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

body.loaded .track-details-wrap {
  bottom: 0;
  -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

body.loaded .track-details-wrap.put-away {
  bottom: -120px;
}

@media (max-width: 480px) {
  body.loaded .track-details-wrap:before {
      position: absolute;
      z-index: 99;
      background-image: -webkit-gradient(
        linear, right top, left top, from(rgba(0, 0, 0, 1.0)),
        to(rgba(0, 0, 0, 0))
      );

      /* mozilla example - FF3.6+ */
      background-image: -moz-linear-gradient(
        right center,
        rgba(0, 0, 0, 1.0) 20%, rgba(0, 0, 0, 0) 95%
      );

      /* IE 5.5 - 7 */
      filter: progid:DXImageTransform.Microsoft.gradient(
        gradientType=1, startColor=0, endColorStr=#000
      );

      /* IE8 uses -ms-filter for whatever reason... */
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(
        gradientType=1, startColor=0, endColoStr=#000
      );
      height: 120px;
      bottom: 0;
      width: 100%;
      content: '';
  }
}

@media (max-width: 320px) {
  body.loaded .track-details-wrap:before {
    opacity: .5;
    width: 56%;
  }
}


img.album-art {
  width: 100px;
  height: auto;
  float:left;
  margin-right: 10px;
}

.artist,
.track-name,
.album-name {
  padding-left: 10px;
  margin: 0;
}

.track-name {
  margin-top:35px;
  margin-bottom: 5px;
  font-size: 20px;
}

@media (max-width: 480px) {
  .track-name {
    font-size: 15px;
    padding-right: 122px;
    margin-top:23px;
  }
}

@media (max-width: 320px) {
  .track-name {
    margin-top: 39px;
  }
  .track-name,
  .artist,
   .album-name {
    font-size: 11px;
  }
}

.artist,
.album-name {
  font-size: 14px;
}

.control-btn {
  float: left;
  width: 18%;
  margin:auto 1%;
  text-align: center;
  font-size: 24px;
  padding: 9px 0;
  color: white;
  cursor: pointer;
}

.control-btn:active,
.control-btn:focus {
  -webkit-box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.3);
box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.3);
}

.control-wrap {
  width: 100%;
  opacity: 0;
  max-width: 320px;
  position: fixed;
  z-index: 9999;
  bottom: -50px;
  left: 50%;
  margin-left: -160px;
  padding: 5px 0;
  background: black;
  background: rgba(0, 0, 0, .9);
  border-bottom: 2px solid rgba(255, 255, 255, .07);
      border-top: 1px solid #111111;
  -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

@media (max-width: 769px) {
  .control-wrap {
    max-width: 100%;
    left: 0;
    margin-left: 0;
  }
}

body.loaded .control-wrap {
  bottom: 0;
  opacity: 1;
  -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

body.loaded .control-wrap.move {
  bottom: 120px;
  -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

div#toggleDetails {
  border: 2px solid rgba(255,255,255,.07);
  border-top: 0;
  border-bottom: 0;
}

.share-box {
    position: absolute;
    left: 50%;
    width: 320px;
    height: 120px;
    margin-left: -160px;
    bottom: -17px;
    background: rgba(255, 255, 255, .014);
}

@media (max-width: 992px) {
  .share-box {
    left: 100%;
    right: 0;
    margin-left: -186px;
    width: 180px;
  }
}

@media (max-width: 768px) {
  .share-box {
    left: 100%;
    right: 0;
    margin-left: -184px;
    width: 179px;
    bottom: -17px;
  }
}

@media (max-width: 480px) {
  .share-box {
    left: 100%;
    right: 0;
    margin-left: -114px;
    width: 129px;
    bottom: -17px;
    z-index: 999;
  }
}

.share-box ul {
  display: inline;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 12px;
}

.share-box li {
  display: inline-block;
  width:49%;
  margin-top: -12px;
}

@media (max-width: 480px) {
  .share-box li {
    display: inline-block;
    width: 39%;
    margin-top: -12px;
  }
}

.share-box a {
  display: inline-block;
  width:100%;
  text-align: center;
  padding: 20px 0;
  font-size: 32px;
  padding: 7px 0px;
  background: transparent;
  border: 1px solid white;
  color: white;
}

@media (max-width: 480px) {
  .share-box a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 27px;
    padding: 9px 0px;
    background: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .5);
    color: black;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
  }
  .share-box a:focus,
  .share-box a.hover {
    background: rgba(255, 255, 255, .8);
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
  }
}

.share-box:before {
    content: "SHARE";
    position: absolute;
    top: -12px;
    z-index: -9;
    color: rgba(51, 51, 51, .6);
    font-size: 85px;
    line-height: .7;
    width: 100%;
    text-align: center;
}

.share-box:after {
    content: "VISIT";
    position: absolute;
    top: 50px;
    z-index: -9;
    color: rgba(51, 51, 51, .6);
    font-size: 85px;
    line-height: .7;
    width: 100%;
    text-align: center;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.share-box:hover:before,
.share-box:focus:before,
.share-box:hover:after,
.share-box:focus:after {
    color: rgba(51, 51, 51, .8);
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
  }

  @media (max-width: 992px) {
    .share-box:before {
      font-size: 60px;
      top: -6px;
    }
    .share-box:after {
      font-size: 60px;
      bottom: 57px;
    }
  }

@media (max-width: 480px) {
  .share-box:before {
    left:-10px;
    color: white;
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
    font-size: 12px;
    top: 9px;
    letter-spacing: 2.3px;
    left: -72px;
  }
  .share-box:after {
    left:-10px;
    color: white;
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
    font-size: 12px;
    bottom: 31px;
    letter-spacing: 2.3px;
    left: -56px;
  }
}

.block {
    width: 46%;
    float: left;
    text-align: center;
    height: 15vh;
    padding: 4vh 0;
    background: white;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 7px;
    line-height: .1;
}

.block-wrap {
  padding:10px;
}

body.sub {
  background: #2b2b2b;
}

body.sub .bg {
  background: rgba(0, 0, 0, .1);
}



.toggleBlock .controls {
  height: 0;
  width: 0%;
  background: transparent;
  overflow: hidden;
  opacity: 0;
  left: 1000px;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.toggleBlock.on .controls,
.toggleBlock.on {
  height: auto;
  width: 100%;
  background: transparent;
  overflow: auto;
  opacity: 1;
  -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    left: 6%;
  background: rgba(255, 255, 255, .066);
  -webkit-background: rgba(255, 255, 255, .066);
}
@media (max-width: 480px) {
  .toggleBlock.on .controls,
  .toggleBlock.on {
    top: 100px;
  }
}
#menuToggle {
  opacity: 1 !important;
}
#menuToggle.byebye {
  opacity: 0 !important;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-control-btn {
  background: transparent;
  border: 0;
  color: white;
  width: 44%;
  float: left;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  font-size: 13px;
  letter-spacing: .7px;
  outline: 0;
  cursor: pointer;
}

.menu-control-btn:hover,
.menu-control-btn:focus,
.menu-control-btn.active {
  background: transparent;
  background: rgba(255, 255, 255, .2) !important;
}

.menu-control-btn:active {
  background: transparent !important;
}

/*.menu-control-wrap {
  margin-top: 50px;
}*/

ol.sortlist {
  margin-top: 0px;
  width: 100%;
  float: left;
  padding-left: 18px;
  border-bottom: 1px solid white;
  background: rgba(255, 255, 255, .066);
}

ol.sortlist:after {
  content: 'Most Recent';
  position: absolute;
  right: 10px;
  bottom: -25px;
  padding: 5px;
  border: 1px solid white;
  border-top: 0;
  font-size: 11px;
}

@media (max-width: 480px) {
  ol.sortlist {
    margin-top: 70px;
  }
}

ol.sortlist li {
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
  background: rgba(255, 255, 255, .033);
}

ol.sortlist li span {
  color: orange;
}

.toggleBlock.playlist.on {
  position: absolute;
  left: 0;
  top: 36px;
  height: 94%;
  opacity: 1;
}

@media (max-width: 480px) {
  .toggleBlock.playlist.on {
    height: 92%;
  }
}

.toggleBlock.playlist {
  left: 1000px;
  opacity: 0;
}

.playlist a {
  color: white;
  text-decoration: none;
}

.showCompBtn {
  border: 2px white solid;
  padding: 5px;
  background: black;
  background: rgba(0, 0, 0, .75);
}

.showCompBtn:hover,
.showCompBtn:focus {
  background: black;
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.showCompBtn {
    position: fixed;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    top: 26px;
    z-index:99;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

.showCompBtn.middle {
    position: fixed;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    top: 50%;
    margin-top: -34px;
    z-index: 99;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.showCompBtn i {
    font-size: 30px;
    margin: 0 10px;
    padding-bottom: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.showCompBtn:hover i,
.showCompBtn:focus i {
  color: orange;
  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


.main-beat-promo-link {
  color: white;
  text-decoration: none;
}

.back-breadcrumb {
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 61px;
  padding: 19px 0;
  text-align: center;
  z-index: 999999;
  color: white;
  font-size: 20px;
  letter-spacing: 1.3px;
  background: black;
}

@media (max-width: 992px) {
  .back-breadcrumb {
    font-size:17px;
    padding: 18px 0;
    min-height: 59px;
  }
}

@media (max-width: 769px) {
  .back-breadcrumb {
    bottom: 60px;
    font-size: 21px;
    padding: 19px 0;
    width: 50%;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 14px;
  }
}

.back-breadcrumb.vote {
    bottom: 60px;
}

@media (max-width: 769px) {
  .back-breadcrumb.vote {
    bottom: 60px;
    left: 50%;
    border-left: 2px solid;
  }
}

.back-breadcrumb.no-comp {
  width: 100% !important;
}