{embed="inc/_openpage"}

<!-- About -->
<section>
	<div class="header-start">
		<img src="{site_url}assets/img/kc.jpg" class="img-responsive">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="upper">Official Demo</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="header light-bg profile-wrap">
	<div class="container container-small">
		<div class="row">
			<div class="col-xs-12">
				<img class="img-responsive profile" style="background: white; padding: 10px;" src="{site_url}BACKUP/strangemusic/assets/img/strange-logo.png">
				<h1 class="upper profile-header">To Strange Music:</h1>
				<p class="content profile-text">"Thank you for experiencing my life's passion as a DJ/Producer.  I truly believe my style is unique enough to change the face of the music industry."</p>
			</div>
		</div>
	</div>
</section>

<section>
{exp:channel:entries channel="albums" dynamic="no" url_title="strangemusic"}
<div class="container container-player">
	<div class="container-p">
	    {!-- <div class="row">
	    	<div class="col-xs-12">
	        	<img class="img-responsive" src="{main_image}">
	        </div>
	    </div> --}
	    <div class="column">
	        <div id="mainwrap">
	            <div id="nowPlay">
	            	<div class="">
		                <div class="col-xs-12" id="npAction">Paused...</div>
		                <div class="col-xs-12" id="npTitle"></div>
		            </div>
	            </div>
	            <div id="audiowrap">
	                <div id="audio0">
	                    <audio preload id="audio1" controls="controls">Your browser does not support HTML5 Audio!</audio>
	                </div>
	                <div id="tracks">
	                    <a id="btnPrev"><i class="fa fa-fast-backward"></i></a>
	                    <a id="shareBtn"><i class="fa fa-share-alt"></i></a>
	                    <a id="btnNext"><i class="fa fa-fast-forward"></i></a>
	                </div>
	            </div>
	            <div class="share-track">
	            	<ul class="social-nav">
						<li><a target="_blank" href="https://www.facebook.com/sharer.php?u={site_url}music/{url_title}"><i class="fa fa-facebook"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/intent/tweet?url={site_url}music/{url_title}&text={title}&via=djbigdad&hashtags={hashtags}"><i class="fa fa-twitter"></i></a></li>
						<li><a target="_blank" href="https://plus.google.com/share?url={site_url}music/{url_title}"><i class="fa fa-google-plus"></i></a></li>
						<li><a target="_blank" href="https://www.linkedin.com/shareArticle?url={site_url}music/{url_title}&title={title}"><i class="fa fa-linkedin"></i></a></li>
						<li><a target="_blank" href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={site_url}music/{url_title}&title={title}&caption={social_desc}"><i class="fa fa-tumblr"></i></a></li>
						<li><a target="_blank" class="last" href="https://reddit.com/submit?url={site_url}music/{url_title}&title={title}"><i class="fa fa-reddit"></i></a></li>
					</ul>
	            </div>
	            <div id="plwrap">
	                <ul id="plList">
	                    {songs}
	                    <li>
	                        <div class="plItem">
	                            <div class="plNum">{songs:count}.</div>
	                            <div class="plTitle">{songs:title}</div>
	                            <div class="plLength">{songs:duration}</div>
	                        </div>
	                    </li>
	                    {/songs}
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>
</div>
{/exp:channel:entries}
</section>

<section class="primary-pd about">
	<div class="container container-small">
		<div class="row content strange">
			<div class="col-xs-12">
				<h3>Travis O'Guin,</h3>
				<p>Thanks for your time in listening to my official press kit demo.</p>
        		<p>For 12 years I've dreamed of getting my music signed by a Kansas City label.   See I grew up in Paola, Kansas a town just south of the Kansas City / Olathe area.  Paola is widely known for its talented artists who seem to come out of no-where.  I've currently got a couple of which who have been on my team. At the age of 14, I started mastering rappers, guitarist and musicians alike. This lead to teaching myself the art of Sound Engineer, Composer/Producer, and becoming an Independent Artist/CEO.  As my professional audio skills developed, so did my digital marketing talents. Hints creating <a style="color:red;" href="http://www.djbigdad.com">DJBigdad.com</a>, a diverse portfolio website of instrumental beats and mashups. Using all these skills I've truly kept it independent.  It's always been my mindset to keep the same positive humble approach that I see coming from the Strange Music label.</p>
        		<p>As I continue to follow Strange, I can see that your growth is starting to ignite the industry.  As more artists continue to step up so will the need for a new producer. Seven has been instrumental in fueling my style. His approach as a producer is someone I could learn from, as well as teach him a little thing or two. If given an opportunity, I'd finally fulfill a life long dream and finding a home for my music to be "Strange-ly" protected.</p>
        		<p>With over 400 instrumentals/tracks online, I need a label to help me manage and protect my art. I believe my work ethic can be witnessed with just a couple listens. My style is diverse but believe it would work best with CES CRU, Rittz, Tech and Brotha Lynch Hung. Of course I'm open to working with any of your artists.  The DJBigdad name has been locked down on the internet / social media scene since the beginning, so from a marketing stand point, I have it mostly covered.  Not to say I wouldn't be open to any change, with marketing or music.</p>
        		<p>More than anything I just want a chance to speak with you. Would you have time for a meeting with me?  It would be a massive honor just to hear your thoughts about my work.  Through out the past couple years, I've called your office and left some messages plugging my name across Twitter, Facebook and the Independent Grind: Dash Radio app.  I understand business is booming. I'm not wasting your time when I tell you I could be your next "Michael 'Seven' Summers" for Strange. I'm not afraid of anything and look forward to my future as an artist.  To me it only makes sense to give my heart and soul to KC and Strange Music. My oldschool, dubhop, triphop and gangster production styles are unique enough to change the face of music industry.</p>
        		<p>Thanks again for your time,</p>
        		<br>
        		<p>Shawn "DJBigdad" Brandt</p>
        		<div class="row personal-wrap">
        			<div class="col-xs-12">
        				<p>Offical Site: <a target="_blank" style="color:red;" href="http://www.djbigdad.com">DJBigdad.com</a></p>
		        		<p>Cell: <a style="color:red;" href="tel:9137314503">913.731.4503</a></p>
		        		<p>Email: <a style="color:red;" href="mailto:djbigdad@gmail.com">djbigdad@gmail.com</a></p>
	        		</div>
        		</div>
			</div>
		</div>
	</div>
</section>

<section class="header light-bg stay-connected-wrap">
	<div class="container container-small">
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group stay-connected">
                    <input type="email" class="form-control input-lg" placeholder="Stay Connected" />
                    <span class="input-group-btn">
                        <button class="btn btn-lg" type="button">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </span>
                </div>
			</div>
		</div>
	</div>
</section>

{embed="inc/_closepage"}