	<!-- Footer -->
	{exp:channel:entries channel="company_info" dynamic="no"}
	<footer>
		<div class="container">
			<p class="tag text-center upper">{social_tag}</p>
			<ul class="social-nav">
				{social_media}
				<li><a target="_blank" href="{social_media:link}"><i class="fa fa-{social_media:icon}"></i></a></li>
				{/social_media}
			</ul>
		</div>
		<p class='text-center copyright'>© {current_time format="%Y"} {site_name}</p>
	</footer>
	{/exp:channel:entries}

{if segment_1 =="contact"}
	<script>
		$(document).ready(function() {
		    $('#bootstrapSelectForm')
		        .find('[name="tracks"]')
		            .selectpicker()
		            .change(function(e) {
		                /* Revalidate the color when it is changed */
		                $('#bootstrapSelectForm').formValidation('revalidateField', 'tracks');
		            })
		            .end()
		        .find('[name="language"]')
		            .selectpicker()
		            .change(function(e) {
		                /* Revalidate the language when it is changed */
		                $('#bootstrapSelectForm').formValidation('revalidateField', 'language');
		            })
		            .end()
		        .formValidation({
		            framework: 'bootstrap',
		            excluded: ':disabled',
		            icon: {
		                valid: 'glyphicon glyphicon-ok',
		                invalid: 'glyphicon glyphicon-remove',
		                validating: 'glyphicon glyphicon-refresh'
		            },
		            fields: {
		                tracks: {
		                    validators: {
		                        callback: {
		                            message: 'Please choose 2-4 tracks you like most',
		                            callback: function(value, validator, $field) {
		                                /* Get the selected options */
		                                var options = validator.getFieldElements('tracks').val();
		                                return (options != null && options.length >= 2 && options.length <= 4);
		                            }
		                        }
		                    }
		                },
		                language: {
		                    validators: {
		                        notEmpty: {
		                            message: 'Please select your native language.'
		                        }
		                    }
		                }
		            }
		        });
		});
</script>
{/if}

</body>
</html>