<!-- Favicons -->
 
    <link href="http://www.djbigdad.com/splash/splash-320-460.jpg" media="(device-width: 320px)" rel="apple-touch-startup-image">
    <!-- iPhone (Retina) SPLASHSCREEN-->
    <link href="http://www.djbigdad.com/splash/splash-640-920.jpg" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPhone 5 (Retina) SPLASHSCREEN-->
	<link href="http://www.djbigdad.com/splash/splash-640-1096.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad (portrait) SPLASHSCREEN-->
    <link href="http://www.djbigdad.com/splash/splash-768-1004.jpg" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
    <!-- iPad (landscape) SPLASHSCREEN-->
    <link href="http://www.djbigdad.com/splash/splash-1024-748.jpg" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
	<link rel="apple-touch-icon" sizes="57x57" href="http://www.djbigdad.com/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://www.djbigdad.com/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://www.djbigdad.com/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="http://www.djbigdad.com/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="http://www.djbigdad.com/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="http://www.djbigdad.com/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="http://www.djbigdad.com/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="http://www.djbigdad.com/favicons/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="http://www.djbigdad.com/favicons/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="http://www.djbigdad.com/favicons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="http://www.djbigdad.com/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="http://www.djbigdad.com/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="http://www.djbigdad.com/favicons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="http://www.djbigdad.com/favicons/mstile-144x144.png">