<section class="header light-bg stay-connected-wrap">
	<div class="container container-small">
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group stay-connected">
					{exp:freeform:form form_name="quick_contact" required="email" return="contact/thank-you"}
                    <input type="email" required class="form-control input-lg" name="email" placeholder="Stay Connected" />
                    <span class="input-group-btn">
                        <button class="btn btn-lg" type="submit">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </span>
                    {/exp:freeform:form}
                </div>
			</div>
		</div>
	</div>
</section>