{if segment_1 == 'music' && segment_2}
{exp:channel:entries channel="albums" dynamic="no" limit="1" url_title="{segment_2}"}
    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="100354389901"/>
    <meta property="og:title" content="{title} - {site_name}" />
    <meta property="og:description" content='{exp:eehive_hacksaw chars = "170"}{social_desc}{/exp:eehive_hacksaw}' />

    <meta property="og:url" content="{site_url}music/{url_title}" />
    <meta property="og:site_name" content="{site_name}" />
    <meta property="og:image" content="{main_image}" />
    <meta property="og:image:width" content="1170" /> 
	<meta property="og:image:height" content="492" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content='{exp:eehive_hacksaw chars = "140"}{social_desc}{/exp:eehive_hacksaw}' />
    <meta name="twitter:title" content="{title} - {site_name}" />
    <meta name="twitter:image" content="{main_image}" />
{/exp:channel:entries}
{if:elseif segment_1 =='music' && !segment_2}
    {exp:channel:entries channel="albums" dynamic="no" limit="1" url_title="{segment_2}"}
    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="100354389901"/>
    <meta property="og:title" content="{title} - {site_name}" />
    <meta property="og:description" content='{exp:eehive_hacksaw chars = "170"}{social_desc}{/exp:eehive_hacksaw}' />

    <meta property="og:url" content="{site_url}music" />
    <meta property="og:site_name" content="{site_name}" />
    <meta property="og:image" content="{main_image}" />
    <meta property="og:image:width" content="1170" /> 
    <meta property="og:image:height" content="492" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content='{exp:eehive_hacksaw chars = "140"}{social_desc}{/exp:eehive_hacksaw}' />
    <meta name="twitter:title" content="{title} - {site_name}" />
    <meta name="twitter:image" content="{main_image}" />
    {/exp:channel:entries}
{if:elseif segment_1 =='oneshot' && !segment_2 && !segment_3}
    {exp:channel:entries channel="oneshot" dynamic="no" limit="1"}
    <meta name='keywords' content='competitive, compeition, battling, musicians, artist, rappers, producers, djs, karaoke, musicians, songwriters,'/>
    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="100354389901"/>
    <meta property="og:title" content="Oneshot on {site_name}" />
    <meta property="og:description" content='You the Artist. You got "One Shot", One Opportunity, One Moment to capture you skills on video and battle with the best online. We welcome Rappers, Producers, DJs, Singers, Songwriters, Musicians, Videographers / Video Editors, Visual Artists, Karaoke, and even competitive Pranksters.' />

    <meta property="og:url" content="{site_url}oneshot" />
    <meta property="og:site_name" content="Oneshot on {site_name}" />
    <meta property="og:image" content="http://djbigdad.com/assets/img/one-shot/banners/oneshotbanner.jpg" />
    <meta property="og:image:width" content="1170" /> 
    <meta property="og:image:height" content="492" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content='You the Artist. You got "One Shot", One Opportunity, One Moment to capture you skills on video and battle with the best online. We welcome Rappers, Producers, DJs, Singers, Songwriters, Musicians, Videographers / Video Editors, Visual Artists, Karaoke, and even competitive Pranksters.' />
    <meta name="twitter:title" content="Oneshot on {site_name}" />
    <meta name="twitter:image" content="http://djbigdad.com/assets/img/one-shot/banners/oneshotbanner.jpg" />
    {/exp:channel:entries}
{if:elseif segment_1 =='oneshot' && segment_2}
    {exp:channel:entries channel="oneshot" dynamic="no" url_title="{segment_2}"}
    <title>{title} - {artist} - Oneshot on DJBigdad.com</title>
    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="100354389901"/>
    <meta property="og:title" content="{title} - {artist} - Oneshot on {site_name}" />
    <meta property="og:description" content='Featured artist {artist} showcases "{title}" from {album_name} via Oneshot on DJBigdad.com' />

    <meta property="og:url" content="{site_url}oneshot/{url_title}" />
    <meta property="og:site_name" content="{title} - {artist} - Oneshot on {site_name}" />
    <meta property="og:image" content="{exp:ce_img:single src='{background_image}' quality='84' width='1170' height=4920' crop='yes|center,center' url_only='yes'}" />
    <meta property="og:image:width" content="1170" /> 
    <meta property="og:image:height" content="492" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content='Featured artist {artist} showcases "{title}" from {album_name} via Oneshot on DJBigdad.com' />
    <meta name="twitter:title" content="{title} - {artist} - Oneshot on {site_name}" />
    <meta name="twitter:image" content="{exp:ce_img:single src='{background_image}' quality='84' width='11170 height='492' crop='yes|center,center' url_only='yes'}" />
    {/exp:channel:entries}
{if:elseif segment_1 =='' || segment_1 == 'contact'}
    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="100354389901"/>
    <meta property="og:title" content="{site_name}" />
    <meta property="og:description" content='A 13 year veteran DJ/Producer with 400+ tracks online.  He grew up south of Kansas City but focused his attention to the internet to create his own unqiue musical styles.' />

    <meta property="og:url" content="{site_url}contact" />
    <meta property="og:site_name" content="{site_name}" />
    <meta property="og:image" content="{site_url}assets/img/logo-black.png" />
    <meta property="og:image:width" content="350" /> 
    <meta property="og:image:height" content="350" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content='A 13 year veteran DJ/Producer with 400+ tracks online.' />
    <meta name="twitter:title" content="{title} - {site_name}" />
    <meta name="twitter:image" content="{site_url}assets/img/logo-black.png" />

{if:elseif segment_1 =='strangemusic'}
    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="100354389901"/>
    <meta property="og:title" content="From {site_name} to Strange Music" />
    <meta property="og:description" content='A 13 year veteran DJ/Producer with 400+ tracks online.  He grew up south of Kansas City but focused his attention to the internet to create his own unqiue musical styles.' />

    <meta property="og:url" content="{site_url}strangemusic" />
    <meta property="og:site_name" content="From {site_name} to Strange Music" />
    <meta property="og:image" content="{site_url}assets/img/logo-black.png" />
    <meta property="og:image:width" content="350" /> 
    <meta property="og:image:height" content="350" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content='A 13 year veteran DJ/Producer with 400+ tracks online.' />
    <meta name="twitter:title" content="From {site_name} to Strange Music" />
    <meta name="twitter:image" content="{site_url}assets/img/logo-black.png" />
{if:elseif segment_1 =='wall'}
    <meta property="og:type" content="video" />
    <meta property="fb:app_id" content="100354389901"/>
    <meta property="og:url" content="{site_url}wall" />
    <meta property="og:description" content='Video Clips from Vine and Instragram Posts' />
    <meta property="og:title" content="DJ Bigdad Wall" />
    <meta property="og:site_name" content="Video Wall of For DJBigdad" />

    {exp:channel:entries channel="video_wall" dynamic="no" sort="desc" limit="1"}
    {video_wall}
    <meta property="og:image" content="{video_wall:vid_image}" />
    <meta property='og:video' content='{video_wall:mp4_clip}' />
    <meta property='og:video:type' content='video/mp4' />
    {/video_wall}
    {/exp:channel:entries}
{/if}