
header {
    padding: 10px 0;
    background: black;
    min-height: 90px;
}

.flush {
  padding: 0;
}

.primary-pd {
  padding: 90px 0;
}

@media (max-width: 992px) {
  .primary-pd {
    padding: 60px 0;
  }
}

@media (max-width: 480px) {
  .primary-pd {
    padding: 30px 0;
  }
}

@media (max-width: 992px) {
  .container-md-full {
    max-width: 100%;
  }
  .container-md-full.md-flush {
    padding: 0;
    overflow: hidden;
  }
}

.upper {
  text-transform: uppercase;
}

.container-small {
  max-width: 769px;
  margin: 0 auto;
  display: block;
}

#site-menu.show-nav {
  right: -15px !important;
  -webkit-transition: right .75s ease;
    -moz-transition: right .75s ease;
    -o-transition: right .75s ease;
    transition: right .75s ease;
}
#site-menu {
  width: 320px;
  height: 100%;
  position: fixed;
  z-index: 99;
  overflow-y: auto;
  top: 0;
  right: -320px;
  background: black;
  background: rgba(0, 0, 0, .85);
  padding: 87px 20px 15px 0px;
   -webkit-transition: right .25s ease;
    -moz-transition: right .25s ease;
    -o-transition: right .25s ease;
    transition: right .25s ease;
}

@media (max-width: 480px) {
    #site-menu {
      width: 100%;
      right: 100%;
      padding-right: 0;
    }
    #site-menu.show-nav {
      right:0 !important;
    }
}

/* Just styles... Not relevant to Seed */
body {
  background-color: #0E0E0E;
  color: #fff;
}
#toggleNavBtn {
  width: 50px;
  font-size: 20px;
  font-weight: 300;
  position: fixed;
  z-index: 9999;
  top: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, .85);
}

.modal-custom {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal-custom:target {
  opacity:1;
  pointer-events: auto;
}

.modal-custom .inner {
  position: relative;
  margin: 0;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  top: 0;
  margin-top: 100px;
  margin-left: -250px;
  left: 50%;
  background: #fff;
  color: black;
}

@media (max-width: 769px) {
  .modal-custom .inner {
    max-width: 90%;
    margin-left: 0;
    left: 5%;

  }
}

.close-modal {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus { background: #00d9ff; text-decoration: none;}

.menu-btn {
    border-radius: 0;
    font-size: 16px !important;
    padding: 13px 0;
    background: transparent;
    border: 1px solid white;
}

.menu-btn:hover,
.menu-btn:active,
.menu-btn:focus {
  background: white !important;
  border-color: #0E0E0E  !important;
}
.menu-btn:hover i,
.menu-btn:active i,
.menu-btn:focus {
  color: black !important;
}

.primary-nav {
  padding-left: 0;
}

.primary-nav a {
  width: 100%;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

.primary-nav .label-icon {
  padding: 0 10px;
  border-right: 2px solid white;
  width: 48px;
  margin-right: 15px;
  display: inline-block;
}

.primary-nav .label-icon i {
  font-size: 20px;
}

ul.primary-nav a:hover,
ul.primary-nav a:focus,
ul.primary-nav a:active {
    background: white;
    color: black;
}

ul.primary-nav a:hover .label-icon,
ul.primary-nav a:focus .label-icon,
ul.primary-nav a:active .label-icon {
  border-color: black;
}

img.logo {
    max-width: 68px;
    margin-left: -34px;
    position: absolute;
    left: 50%;
}

/*FORMS*/
/*Checkboxes http://bootsnipp.com/snippets/featured/animated-radios-amp-checkboxes-nojs */

footer {
  color: white;
}

footer p.tag {
  padding: 10px 0;
  margin: 0;
}

footer .container {
  max-width: 550px;
  margin: 0 auto 20px auto;
  display: block;
  padding: 30px 0 20px 0;
  background: rgba(0, 0, 0, .15);
  border: 1px solid rgba(19, 19, 19, .75);
  border-top: 0;
}

.social-nav {
  text-align: center;
  padding: 0 0 10px 0;
  margin: 0px auto;
  display: block;
  width: 100%;
}

.social-nav li {
  display: inline;
}

.social-nav li a {
  display: inline-block;
  padding: 10px;
}

@media (max-width: 480px) {
  .social-nav li a {
    padding: 10px 14px;
    font-size: 26px;
  }
}

p.copyright {
  font-size: 14px;
  margin-bottom: 20px;
}

.all-music .container {
  max-width: 1000px;
}

.album-wrap {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.album-wrap .details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
    color: white;
    padding: 10px;
    margin: 0;
    background: rgba(0, 0, 0, .6);
}

.album-wrap .details h2 {
  font-size: 22px;
  margin: 0;
  padding: 0 0 10px;
}

.album-wrap .details h3 {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.slider {
  position: relative;
}

.slider .owl-controls {
  position: absolute;
  top: 50%;
  width: 100%;
}

.slider .owl-prev,
.slider .owl-next {
  position: absolute;
  z-index: 99999;
  background: black;
  padding: 10px;
  margin-top: -22px;
  opacity: .6;
}

@media (max-width: 769px) {
  .slider .owl-prev,
  .slider .owl-next {
    margin-top: -40px;
  }
}



.slider .owl-prev:hover,
.slider .owl-next:hover {
  opacity: 1;
}

.slider .owl-prev {
  left: 0;
}

.slider .owl-next {
  right: 0;
}

.slider .owl-item {
}

.slider .owl-item.active.center {
  position: relative;
  z-index: 99;
}

.slider:after {
  content: '';
  position: absolute;
  z-index: 9999;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background: black;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.6+50,1+100 */
background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

.slider:before {
  content: '';
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background: black;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.6+50,0+100 */
background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

#shareBtn {
    color: #C8C7C8;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    padding: 0 11px;
    text-decoration: none;
    margin-right: 10px;
}

.share-track {
 height: 0 !important;
 opacity: 0;
 overflow:hidden;
}

.share-track.show {
  overflow: auto;
  height: auto !important;
  opacity: 1;
  border-bottom: 6px solid black;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.share-track .social-nav li a {
  border-right: 3px solid rgba(60, 60, 60, .35);
  width: 56px;
  text-align: center;
  font-size: 19px;
  padding: 6px 9px 6px 6px;
}

@media (max-width: 480px) {
  .share-track .social-nav li a {
      border-right: 3px solid rgba(60, 60, 60, .35);
      width: 37px;
      text-align: center;
      font-size: 14px;
      padding: 6px 9px 6px 6px;
  }
}

.share-track .social-nav li a:hover,
.share-track .social-nav li a:focus,
.share-track .social-nav li a:active
#tracks a:hover,
#tracks a:focus,
#tracks a:active {
  opacity: .75;
}

.share-track .social-nav li a.last {
  border-right: 0;
}

section.header {
  padding: 30px 0;
}

section.header.light-bg {
  background: rgba(0, 0, 0, .15);
}

.slide-wrap {
  position: relative;
}

.primary-btn {
  border: 1px solid white;
  background: black;
  color: white;
  text-decoration: none;
  padding: 8px 13px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  transition: all 400ms ease;
}

.primary-btn:hover,
.primary-btn:focus,
.primary-btn:active {
  background: white;
  color: black;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  transition: all 400ms ease;
}

.slide-wrap a.primary-btn {
  position: absolute;
  bottom: 30px;
  width: 138px;
  left: 50%;
  margin-left: -69px;
}

@media (max-width: 768px) {
  .slide-wrap a.primary-btn {
      display: none;
      width: 100%;
      position: static;
      margin-left: 0;
      border-left: 0;
      border-right: 0;
  }
  .slider .owl-item.center a.primary-btn {
      display: block !important;
  }
}


.header h1 {
  font-size: 32px;
  margin: 10px 0;
  padding: 0;
}

@media (max-width: 769px) {
  .header h1 {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 18px;
  }
}

.content p,
p.content,
.content ul,
.content ol,
.content li {
  font-size: 16px;
  color: white !important;
}

.content ol,
.content ul {
  padding-left: 7px;
}

.content ol ul {
  padding-left: 12px;
}

.content ol ul li {
  position: relative;
}

.content ol ul li:before {
    content: '//';
    position: absolute;
    left: -16px;
    top: -1px;
}

.header p.content {
  line-height: 2;
}

.plSel {
  position: relative;
}

.plSel:after {
    content: "\f028";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    top: 21px;
    right: 70px;
    color: white;
}

@media (max-width: 600px) {
  .plSel:after {
    display: none;
  }
}

.profile {
  max-width: 200px;
  margin-right: 20px;
  float: left;
  padding: 0;
  -webkit-box-shadow: 0px 0px 56px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 56px -3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 56px -3px rgba(0,0,0,0.75);
}

.profile-wrap {
  border-top: 4px solid black;
  -webkit-box-shadow: inset 0px 0px 56px -3px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 56px -3px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 56px -3px rgba(0,0,0,0.75);
}

@media (max-width: 992px) {
  .content.profile-text {
    line-height: 1.5 !important;
  }
}

@media (max-width: 600px) {
  .profile {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    float: none;
    margin-bottom: 20px;
  }
  .profile-text,
  .profile-header {
    text-align: center;
  }
  .content.profile-text {
    line-height: 2 !important;
    margin-bottom: 20px;
  }
  .profile-wrap a {
    margin: 0 auto;
    display: block;
    max-width: 200px;
  }
}

.service-wrap a.primary-btn {
  background: #1D1D1D;
}

.service-wrap a.primary-btn:hover,
.service-wrap a.primary-btn:focus {
  background: white;
  color: black;
}

.service-wrap {
  text-align: center;
  background: #1d1d1d;
  padding: 30px;
    -webkit-box-shadow: 0px 0px 56px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 56px -3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 56px -3px rgba(0,0,0,0.75);
}

@media (max-width: 992px) {
  .service-wrap {
    padding: 20px;
  }
}

@media (max-width: 769px) {
  .service-wrap {
    padding: 20px;
    max-width: 550px;
    width: 100%;
    margin: 20px auto 0 auto;
    display: block;
  }
  .service-wrap p {
    max-width: 320px;
    margin: 0px auto !important;
    display: block;
  }
  .service-wrap.first {
    margin-top: 0;
  }
}

.service-wrap i {
  font-size: 40px;
}

.service-wrap h2 {
  margin: 20px 0 10px 0;
  font-size: 24px;
}

.service-wrap p {
  margin: 0;
  padding: 0 0 20px 0;
}

.services {
  padding-bottom: 120px;
  border-top: 4px solid black;
}

@media (max-width: 992px) {
  .services {
    padding-bottom: 90px;
  }
}

@media (max-width: 769px) {
  .services {
    padding-bottom: 20px;
  }
}

.services h1 {
  margin-bottom: 30px;
  margin-top: 0px;
  line-height: 1;
}

.cta-center {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.cta-icon {
  font-size: 58px;
  text-align: center;
}

.above-footer {
  position: relative;
  border: 4px solid black;
  border-left: 0;
  border-right: 0;
}

.above-footer:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, .55);
}

.stay-connected {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.stay-connected input {
  width: 91% !important;
  outline: 0 !important;
  border: 2px solid white;
  border-right: 0;
  outline: 0 !important;
}

@media (max-width: 769px) {
  .stay-connected input {
    width: 85% !important;
  }
}

@media (max-width: 480px) {
  .stay-connected input {
    width: 83% !important;
  }
}

.stay-connected input:focus {
  border-color: white;
  box-shadow: none;
}

.stay-connected button {
  background: black;
  color: white;
  border-color: white;
  outline: 0 !important;
}

.stay-connected button:active,
.stay-connected button:focus,
.stay-connected button:hover {
  color: black;
  background: white;
  border-color: white;
  box-shadow: none;
  border-left: 2px solid black;
}

.stay-connected button:active,
.stay-connected button:focus {
  padding: 10px 12px 10px 20px;
}

@media (max-width: 480px) {
  .stay-connected-wrap {
    padding-bottom: 0 !important;
  }
}

.header-start img {
  width: 100%;
  height: auto;
}

.header-start {
  position: relative;
}

.header-start:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, .8);
}

.header-start h1 {
    position: absolute;
    left: 50%;
    top: -100px;
    width: 100%;
    max-width: 320px;
    background: black;
    background: rgba(0, 0, 0, .75);
    text-align: center;
    z-index: 9;
    margin-left: -160px;
    padding: 10px 0;
}

@media (max-width: 480px) {
  .header-start h1 {
    position: relative;
    top: 0;
    background: #030303;
    padding: 0;
  }
}

p.skill-desc {
    font-size: 13px;
    margin-bottom: 20px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    color: black !important;
}

.about {
  padding-bottom: 0;
}

.about h2 {
  font-size: 24px;
  position: relative;
  margin-top: 100px;
}

.about ol {
  position: relative;
}

@media (max-width: 480px) {
  .about h2 {
    margin-top: 120px;
  }
}

.skill-block {
    padding: 40px;
    position: relative;
    min-height: 630px;
    margin: 0 auto;
    display: block;
    max-width: 530px;
}

.skill-block:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .75);
}

@media (max-width: 992px) {
  .skill-block {
    min-height: 680px;
    max-width: 100%;
  }
}

@media (max-width: 769px) {
  .skill-block {
    background: transparent;
    min-height: auto;
  }
  .about ol {
    margin-bottom: 80px;
  }
}

@media (max-width: 480px) {
  .skill-block {
    padding: 20px;
  }
  .about {
    overflow: hidden;
    padding: 0;
  }
  .about .container {
    padding: 0;
  }
}

.skill-block-content a {
    position: absolute;
    z-index: 9;
    width: 100%;
    margin-top: 30px;
    bottom: 33px;
    left: 7%;
    width: 86%;
}

.contact input,
.contact textarea,
.contact select {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  background: transparent;
  border-bottom: 3px solid white;
  outline: 0;
  font-size: 16px;
  color: white;
}

.contact textarea {
  min-height: 250px;
}

.contact .container {
  max-width: 768px;
}

.contact select.tracks-select {
  min-height: 0px;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 0;
  color: #939393;
}

.contact .form-control:focus {
  outline: 0;
  border-color: transparent;
  box-shadow: none;
}

.contact select.tracks-select:focus {
  border-color: white;
}

.contact .form-group label.openTracks {
    font-size: 16px;
    color: #939393;
    cursor: pointer;
    border-bottom: 3px solid white;
    margin: 0 15px;
    max-width: 738px;
    padding: 0;
}

@media (max-width: 992px) {
  .contact .form-group label.openTracks {
    max-width: 96%;
  }
}

@media (max-width: 480px) {
  .contact .form-group label.openTracks {
    max-width: 93%;
  }
}

.contact button {
  float: right;
  width: 170px;
}

.contact-wrap {
  position: relative;
  max-width: 768px;
  width: 100%;
}

@media (max-width: 992px) {
  .contact-wrap {
    max-width: 330px;
  }
}

.quick-contact {
  width: 330px;
  position: absolute;
  right: 12px;
  bottom: -30px;
}

.quick-contact a {
    background: #0E0E0E;
    border: 2px solid white;
    border-bottom: 0;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.quick-contact a i {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .profile-wrap.alt img.profile {
    float: none;
    margin: 0 auto 10px auto;
  }
  .profile-wrap.alt h1,
  .profile-wrap.alt .profile-text  {
    text-align: center;
  }
  .profile-wrap.alt .profile-text  {
    margin-bottom: 30px;
  }
}