{embed="inc/_openpage"}

{if !segment_2}
<!-- Music overall Temp -->
<section class="all-music">
	<div class="container">
		<div class="row">
			{exp:channel:entries channel="albums" entry_id="not 13|14" dynamic="no"}
			<div class="col-sm-6 flush">
				<a href="{site_url}music/{url_title}">
					<div class="album-wrap">
					<img class="img-responsive" title="{title} - Album Art" alt="{title} - Album Art" src="{main_image}">
						<div class="details">
							<h2 style="{if !colaborations}padding-bottom: 0;{/if}">{title}</h2>
							{if colaborations}<h3>{colaborations}</h3>{/if}
							<!-- <h3>{songs}{songs:total_rows}{/songs} Tracks</h3> -->
						</div>
					</div>
				</a>
			</div>
			{/exp:channel:entries}
		</div>
	</div>
</section>
{if:else}

{exp:channel:entries channel="albums" dynamic="no" url_title="{segment_2}"}
<div class="container container-player">
	<div class="container-p">
	    <div class="row">
	    	<div class="col-xs-12">
	        	<img class="img-responsive" src="{main_image}">
	        </div>
	    </div>
	    <div class="column">
	        <div id="mainwrap">
	            <div id="nowPlay">
	            	<div class="">
		                <div class="col-xs-12" id="npAction">Paused...</div>
		                <div class="col-xs-12" id="npTitle"></div>
		            </div>
	            </div>
	            <div id="audiowrap">
	                <div id="audio0">
	                    <audio preload id="audio1" controls controlsList="nodownload">Your browser does not support HTML5 Audio!</audio>
	                </div>
	                <div id="tracks">
	                    <a id="btnPrev"><i class="fa fa-fast-backward"></i></a>
	                    <a id="shareBtn"><i class="fa fa-share-alt"></i></a>
	                    <a id="btnNext"><i class="fa fa-fast-forward"></i></a>
	                </div>
	            </div>
	            <div class="share-track">
	            	<ul class="social-nav">
						<li><a target="_blank" href="https://www.facebook.com/sharer.php?u={site_url}music/{url_title}"><i class="fa fa-facebook"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/intent/tweet?url={site_url}music/{url_title}&text={title}&via=djbigdad&hashtags={hashtags}"><i class="fa fa-twitter"></i></a></li>
						<li><a target="_blank" href="https://plus.google.com/share?url={site_url}music/{url_title}"><i class="fa fa-google-plus"></i></a></li>
						<li><a target="_blank" href="https://www.linkedin.com/shareArticle?url={site_url}music/{url_title}&title={title}"><i class="fa fa-linkedin"></i></a></li>
						<li><a target="_blank" href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={site_url}music/{url_title}&title={title}&caption={social_desc}"><i class="fa fa-tumblr"></i></a></li>
						<li><a target="_blank" class="last" href="https://reddit.com/submit?url={site_url}music/{url_title}&title={title}"><i class="fa fa-reddit"></i></a></li>
					</ul>
	            </div>
	            <div id="plwrap">
	                <ul id="plList">
	                    {songs}
	                    <li>
	                        <div class="plItem">
	                            <div class="plNum">{songs:count}.</div>
	                            <div class="plTitle">{songs:title}</div>
	                            <div class="plLength">{songs:duration}</div>
	                        </div>
	                    </li>
	                    {/songs}
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>
</div>
{if paypal_link}
<section class="">
	<div class="container container-p buy-album-wrap">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-center">Want to buy this album?</h2>
				<h3 class="text-center">You can download "{title}" now just for <span>${album_price}</span>!</h3>
				<a target="_blank" href="{paypal_link}" class="btn primary-btn center-block">Buy Now!</a>
			</div>
		</div>
	</div>
</section>
{/if}
{/exp:channel:entries}

{/if}

{embed="inc/_closepage"}