{embed="inc/_openpage"}

<!-- Home Page-->
		<section class="slider">
			{exp:channel:entries channel="albums" dynamic="no" entry_id="not 13|14"}
			<div>
				<div class="slide-wrap">
					<img class="img-responsive" src="{main_image}">
					<a class="btn primary-btn" href="{site_url}music/{url_title}">Start Listening</a>
				</div>
			</div>
			{/exp:channel:entries}
		</section>

		<script>
			$('.slider').owlCarousel({
		        center: true,
		        items:1,
		        nav: true,
		        loop:true,
		        center: true,
		        autoplay: 4500,
		        slideSpeed: 1700,
		        responsive: true,
		        responsiveRefreshRate: 100,
		        autoplayHoverPause: true,
		        //stagePadding: 100,
		        // animateOut: 'bounceOut',
		        // animateIn: 'fadeIn',
		        animateOut: 'fadeOut',
		        animateIn: 'fadeIn',
		        responsive:{
		            600:{items:1}
		        }
		    });
		</script>

		<section class="header light-bg profile-wrap">
			<div class="container container-small">
				<div class="row">
					<div class="col-xs-12">
						<img class="img-responsive profile" src="{site_url}assets/img/profile.jpg">
						<h1 class="upper profile-header">Welcome to DJBigdad.com!</h1>
						<p class="content profile-text"> "At the age of 14, I knew I wanted to be designer and developer of all things multimedia! Music, graphics and web-development became the key to my success." Critizied for his size and awkward approach DJBigdad was born!</p>
						<a href="/about" class="btn primary-btn">Learn More</a>
					</div>
				</div>
			</div>
		</section>

		<section class="primary-pd services" style="background: url('{site_url}assets/img/texture.png');">
			<div class="container container-md-full md-flush">
				<h1 class="text-center">Services</h1>
				<div class="row">
					<div class="col-sm-4">
						<div class="service-wrap first">
							<i class="fa fa-html5"></i>
							<h2>Development</h2>
							<p class="content">More than 100 examples of Responsive Web Development with awards.</p>
							<a target="_blank" href="http://www.shawnbrandt.com" class="btn primary-btn">Learn More</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="service-wrap">
							<i class="fa fa-music"></i>
							<h2>Production</h2>
							<p class="content">Over 400 instrumentals and beats. An archive ready for any label.</p>
							<a href="/music" class="btn primary-btn">Listen Now</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="service-wrap">
							<i class="fa fa-comments-o"></i>
							<h2>Consulting</h2>
							<p class="content">Need advice?  Experience you can witness in every form of multimedia.</p>
							<a href="/contact" class="btn primary-btn">Get Advice</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="header light-bg profile-wrap above-footer" style="background: url('{site_url}assets/img/bg-cool.jpg'); background-size: cover; background-position: top right;">
			<div class="container container-small">
				<div class="row">
					<div class="col-xs-12">
						<p class="cta-icon"><i class="fa fa-soundcloud"></i></p>
						<h3 class="upper text-center">A&amp;R's, Promoters and Musicians:</h3>
						<p class="content text-center">"Your time is money. Lets not waste it." I realize you don't have excess time to listen to every album or song. So I've started showcasing my best on SoundCloud.com</p>
						<a target="_blank" href="http://www.soundcloud.com/djbigdad" class="btn primary-btn cta-center">Listen Now</a>
					</div>
				</div>
			</div>
		</section>
		{embed="inc/lead-getter"}
{embed="inc/_closepage"}