{embed="inc/_openpage"}

<!-- Contact Us -->
		<section>
			<div class="header-start">
				<img src="{site_url}assets/img/crowd.jpg" class="img-responsive">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h1 class="upper">{if segment_2 !="thank-you"}Contact{if:else}Thank You{/if}</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		{if segment_2 != 'thank-you'}
		<section class="header light-bg profile-wrap alt">
			<div class="container container-small">
				<div class="row">
					{exp:channel:entries channel="contact" dynamic="no"}
					<div class="col-xs-12">
						<img class="img-responsive profile" src="{contact_profile}">
						<h1 class="upper profile-header">{contact_name}</h1>
						<p class="content profile-text">{contact_tag}</p>
					</div>
					{/exp:channel:entries}
				</div>
			</div>
			{exp:channel:entries channel="company_info" dynamic="no"}
			<div class="container contact-wrap">
				<div class="row quick-contact">
					<div class="col-xs-6">
						<a href="tel:{phone_link}"><i class="fa fa-phone"></i>Phone</a>
					</div>
					<div class="col-xs-6">
						<a href="mailto:{primary_email}"><i class="fa fa-envelope"></i>Email</a>
					</div>
				</div>
			</div>
			{/exp:channel:entries}
		</section>

		<section class="primary-pd contact">
			<div class="container">
				<div class="row content">
					<div class="col-xs-12">
						{exp:freeform:form form_name="contact" form:class="form-horizontal" form:id="bootstrapSelectForm" required="email" return="contact/thank-you"}
							<input class="primary" required type="text" placeholder="Full Name" name="full_name">
							<input class="primary" required type="email" placeholder="Email" name="email">
							<div class="form-group">
						        <div class="col-xs-12 selectContainer">
						            <select name="tracks" class="form-control tracks-select" title="Select a song and tell us why.">
						                <option value="">Select Favorate Song</option>
						                {exp:channel:entries channel="albums" dynamic="no" sort="desc" entry_id="not 13|14" order_by="title"}
						                {songs}
						                <option class="song" value="{songs:title}">{songs:title}</option>
						                {/songs}
						                {/exp:channel:entries}
						            </select>
						        </div>
						    </div>
							<textarea type="text" name="message" placeholder="Tell me how you really feel."></textarea>
							<button class="btn primary-btn" type="submit">Submit</button>
						{/exp:freeform:form}
					</div>
				</div>
			</div>
		</section>
		{embed="inc/lead-getter"}
		{if:else}
			<section class="header light-bg stay-connected-wrap">
				<div class="container container-small">
					<div class="row">
						<div class="col-xs-12">
							<p class="text-center">DJ Bigdad will be review your request personally and will be reaching out to you soon! Staying connected!  {if segment_3 == "oneshot"}Check your email for more instructions.<a href="{site_url}"><strong>One Shot</strong></a> is a great opprotunity to promote yourself have a competition with similar like minded artists.  I can't wait to check out your craft! Spread the word and check out great featured artists!{/if}</p>
						</div>
					</div>
				</div>
			</section>
		{/if}

		<script>
			$( document ).ready(function() {
			    var options = $('select.tracks-select option.song');
			    var arr = options.map(function(_, o) {
			        return {
			            t: $(o).text(),
			            v: o.value
			        };
			    }).get();
			    arr.sort(function(o1, o2) {
			        return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0;
			    });
			    options.each(function(i, o) {
			        console.log(i);
			        o.value = arr[i].v;
			        $(o).text(arr[i].t);
			    });
			});
		</script>

{embed="inc/_closepage"}