{embed="inc/_openpage"}

<!-- About -->
<section>
	<div class="header-start">
		<img src="{site_url}assets/img/city2.jpg" class="img-responsive">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="upper">About</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="header light-bg profile-wrap">
	<div class="container container-small">
		<div class="row">
			<div class="col-xs-12">
				<img class="img-responsive profile" src="{site_url}assets/img/profile.jpg">
				<h1 class="upper profile-header">Shawn "DJ Bigdad" Brandt</h1>
				<p class="content profile-text">"Thank you for participating in my life's experience as a Tech Creative.  I truly believe my <em>'all-in-one approach'</em> is unique enough to change the face of the music industry."</p>
			</div>
		</div>
	</div>
</section>

<section class="primary-pd about">
	<div class="container">
		<div class="row content">
			<div class="col-sm-6">
				<div class="skill-block" style="background: url('{site_url}assets/img/street.jpg'); background-size: cover; background-position: center center;">
					<div class="skill-block-content">
						<h2>Audio Engineer</h2>
						<p class="skill-desc">The following is the process I go through each time creating a song, instrumental or even *colaborating with artist.</p>
						<ol>
							<li>Idea Starter</li>
							<li>Sound Design / Engineering</li>
							<li>Production / Composing / EQ / Mixing</li>
							<ul>
								<li>Chill Hiphop</li>
								<li>Old School Hiphop</li>
								<li>UK Dub</li>
								<li>Trap</li>
								<li>Commercial Scores</li>
							</ul>
							<li>Track Mastering</li>
							<li>*Vocal Recording</li>
							<li>*Post Instrumental Mixing</li>
							<li>*Post Vocal Mixing</li>
							<li>*Post Mastering</li>
						</ol>
						<a class="btn primary-btn" href="/music">Start Listening</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="skill-block" style="background: url('{site_url}assets/img/code.jpg'); background-size: cover; background-position: center center;">
					<div class="skill-block-content">
						<h2>Web Developer</h2>
						<p class="skill-desc">The following is the process I go through each time creating a website, webapp or any other business solution. *Favorite Lang/Tools</p>
						<ol>
							<li>Evaluate your needs, Setup Server</li>
							<li>Organize Colors, Fonts and Design Elements</li>
							<li>Custom and/or Adaptive Development. *My favorates include:</li>
							<ul>
								<li>*HTML5, CSS3, JS/jQuery</li>
								<li>*Twitter Bootstrap</li>
								<li>*Expression Engine + plugins</li>
								<li>*GIT, SVN</li>
								<li>API Integrations</li>
								<li>Wordpress + plugins</li>
								<li>Custom Email Templates</li>
							</ul>
							<li>Content Management: Organizing Content</li>
							<li>All devices / responsive testing</li>
							<li>Maintain Support</li>
						</ol>
						<a class="btn primary-btn" href="http://www.shawnbrandt.com">View Portfolio</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{embed="inc/lead-getter"}

{embed="inc/_closepage"}